#!/usr/bin/env bash

if ! has nix_direnv_version || ! nix_direnv_version 3.0.4; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.4/direnvrc" "sha256-DzlYZ33mWF/Gs8DDeyjr8mnVmQGx7ASYqA5WlxwvBG4="
fi

export REPO="$(expand_path .)"
export LOCAL="$REPO/.local"
export LOCAL_ENVRC="$LOCAL/dev.envrc"

# defaults, override in dev.envrc if you like

mkdir -p $LOCAL
[[ ! -f $LOCAL_ENVRC ]] && echo -e "#!/usr/bin/env bash\n" >$LOCAL_ENVRC

source_up_if_exists
source_env_if_exists $LOCAL_ENVRC
source_env_if_exists $LOCAL/secrets.envrc

PATH_add bin

if [[ $AUTO_ACTIVATE != "false" ]]; then
  use flake . --impure
fi
